@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);


*{
    font-family: 'Ubuntu';
}

h2, #brand a{
    font-family: 'Pacifico';
}

p#userName{
    color: red;
}

#findUser{
    margin: auto;
}

#menu{
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
}


body {
    padding-top: 70px;
}

.img-center {
    margin: 0 auto;
}




#profile-img{
    margin: auto;
    width: 450px;
    height: 350px;
}
.profile-item{
    margin :0 auto;
    width: 450px;
    height: 350px;
    background: lightblue;
}
#profile-img{
    margin :0 auto;
    width: 300px;
    height: 200px;
    background: lightblue;
}

div.profile-item ul {
    font-size: large;
}
