@(loggedUser : User, userForm : Form[User])
@main("Info",loggedUser){
    @modal("infoModal","changePass","Modifier Info") {
        @helper.form(action = helper.CSRF(routes.Dashbord.modifyInfo()), 'id -> "modifyInfoForm") {

            <label for="userEmail">Email</label>
            <input type="email" name="userEmail" id="" class="form-control input-sm chat-input" placeholder="Email"
            value="@userForm("userEmail").value"/>
            <br>

            <label for="userFirstName">Prénom</label>
            <input type="text" name="userFirstName" id="" class="form-control input-sm chat-input" placeholder="Prénom"
            value="@userForm("userFirstName").value"/>
            <br>

            <label for="userLastName">Nom</label>
            <input type="text" name="userLastName" id="" class="form-control input-sm chat-input" placeholder="Nom"
            value="@userForm("userLastName").value"/>
            <br>
            <button type="submit" class="btn btn-primary">Modifier</button>
        }

    }
    @modal("photoModal","changePass","Modifier sa photo"){

    }
    @modal("descriptionModal","changePass","Modifier sa description"){
        @helper.form(action = helper.CSRF(routes.Dashbord.modifyDescription()), 'id -> "modifyDescriptionForm") {
            <label for="userDescription">Description</label>
            <textarea type="text" name="userDescription" id="" class="form-control input-sm chat-input" placeholder="Description"
            value="@userForm("userDescription").value"></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Modifier</button>
        }
    }
    <div class="row">
        <div class="col-lg-8 col-sm-6">
            <h1 class="page-header">Coucou @loggedUser.userFirstName @loggedUser.userLastName
            </h1>
            <p></p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <div id="profile-img"></div>

              <h3>
               <a href="" data-toggle="modal" data-target="#photoModal">Modifier</a>
              </h3>
            <p>Modifier votre photo de profil</p>
        </div>
    </div>
    <hr>

    <div class="row">

        <div class="col-lg-4 col-sm-12 text-center">
            <div class="profile-item">
                <ul class="text-justify">
                    <li>nom d'utilisateur : @loggedUser.userUserName</li>
                    <li>Email : @loggedUser.userEmail</li>
                    <li>Nom de Famille : @loggedUser.userLastName</li>
                    <li>Prénom: @loggedUser.userFirstName</li>
                </ul>
            </div>
            <h3>
                <h3>
                    <a href="" data-toggle="modal" data-target="#infoModal">Modifier</a>
                </h3>
            </h3>
            <p>Changer de mot de passe ou d'adresse mail</p>
        </div>
        <div class="col-lg-4 col-sm-12 text-center">
            <div class="profile-item">
                @loggedUser.userDescription
            </div>
            <h3>
                <a href="" data-toggle="modal" data-target="#descriptionModal">Modifier</a>
            </h3>
            <p>Changer votre description</p>
        </div>
        <div class="col-lg-4 col-sm-12 text-center">
            <div class="profile-item"></div>

            <h3>
                <a href="#">Nouvelle Compétition</a>
            </h3>
            <p>Vous n'avez pas beaucoup de victoires, Créer une compét</p>
        </div>

    </div>



}