@(tournoi : Contest)
<h1>Informations sur la compétion ( solo )</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>StartDate</th>
      <th>endDate</th>
      <th>nbContestants</th>
      <th>Organizer</th>
    </tr>
  </thead>
  <tbody>
    <td>@tournoi.contestName</td>
    <td>@tournoi.contestStartDate</td>
    <td>@tournoi.contestEndDate</td>
    <td>@tournoi.contestNbContestants</td>
    <td>@tournoi.contestOrganizer.userFirstName</td>
  </tbody>
</table>

<h1>Informations sur l'organisateur</h1>
  @test(tournoi.contestOrganizer)

  <h1>Liste des participant</h1>
  @for(user <- tournoi.contestContestants){
    @user.userFirstName
  }

  <h1>Liste des stages</h1>
  @for(stage <- tournoi.contestStages){
    @Championship(stage)
}