@(user : User)
  <table class="table table-striped">
    <thead>
      <tr>

        <th>firstName</th>
        <th>lastName</th>
        <th>birthDate</th>
        <th>age</th>
        <th>address</th>
        <th>phone</th>
        <th>description</th>
      </tr>
    </thead>
    <tbody>
      <td>@user.userFirstName</td>
      <td>@user.userLastName</td>
      <td>@user.userBirthDate</td>
      <td>@user.userAge</td>
      <td>@user.userAddress</td>
      <td>@user.userPhone</td>
      <td>@user.userDescription</td>
    </tbody>
  </table>
