@(loggedUser : User)
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li id="brand"><a href="@routes.Application.index()">Trophyz</a></li>
                    @if(loggedUser == null){
                        <li><a href="#presentation">Qu'est ce que c'est ?</a></li>
                        <li><a href="#signup">Comment s'inscrire ?</a></li>
                        <li> <a href="#">Mes tournois</a> </li>
                        <li> <a href="#">Mes amis</a> </li>
                    } else{
                        <p id="userName" class="navbar-text">
                            Bienvenue @loggedUser.userFirstName @loggedUser.userLastName
                        </p>

                    }

                </ul>
                    <ul class="nav navbar-nav navbar-right">
                    @if(loggedUser == null){
                    <li>
                        <a href="" data-toggle="modal" data-target="#connexionModal">Connexion</a>
                    </li>
                    }else{

                        <li><a href="@routes.Application.logout()"> Déconnexion </a> </li>
                    }

                    </ul>



            </div>
        </nav>
